	body {
	  margin: 0;
	  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	  font-size: 80px;
	  color: #333333;
	  background-color: #ffffff;
	}

	#phone-pad {
		margin-top: 10%;
		margin-left: auto;
		margin-right: auto;
		width: 220px;
	}

	.number {
		cursor: pointer;
	}

	#number-sequence {
		text-align: center;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}

	ul li {
		display: inline;		
	}

	#phone-pad ul li {
		display: inline-block;
		width: 60px;
	}